#ButtonHover {
    background-color: var(--terciary-color) !important;
}

#ButtonHover:hover {
    background-color: #f2f2f2 !important;
    color: var(--terciary-color) !important;
    border-color: var(--terciary-color) !important;
}